@import './app/common_styles/mixins';
@import './app/common_styles/variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap"');

* {
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: 0;
}

html {
  body {
    @include flex-item-position(flex, column, center, center);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: $base-font-size;
    color: $primary-text-color;
    min-height: 95vh;
  }
}
